# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- PYTHON  ---
__pycache__/
*.py[cod]
*$py.class

# --- venv ---
venv/
.venv/
env/

# --- PACKAGING ---
dist/
*.egg-info/

# --- config ---
.env

# --- LOGS ---
*.log
logs/
